/* 左边的导航栏 */
#leftnav{
    width:20%;
}
#leftnav a{
    width:100%;
    height:50px;
    line-height: 50px;
    border-bottom: 1px solid #f2f2f2;
    border-right: 4px solid #fff;
    color: #666;
}


#rightbody{
    width:80%;
    margin-bottom:200px;
}
/* 全部排行榜 */
.paihang{
    width:33.333%;
    background: #fff;
    box-shadow:3px 3px 12px #ccc;
    padding:10px 40px 0 40px;
    box-sizing: border-box;
    border-radius: 10px;
}
.paihang h3{
    margin: 0 145px 5px -40px;
    padding:0 0 5px 40px;
}
.paihang li>span{
	display:inline-block;
	width:25px;height:25px;
	border-radius:50%;
	text-align:center;
	line-height:25px;
	color:white;
    margin-right:1rem;
}
#paihang a{
	display:inline-block;
}
#paihang img{
	display:inline;
}
#paihang li{
	height:43px;
}
#paihang li:first-child{
	height:98px;
}
#paihang a,#paihang span{
	font-size:14px;
}